html, body {
    /* max-width: 100%; */
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-flow: column;
    font-family: sans-serif;
    font-size: 9pt;
    margin: 0px;
}

.filter-sort {
    display: grid;
    grid-template-columns: auto max-content;
    padding: 4px;
    max-width: 100%;
}

.filter {
}

.sort {
    margin-left: 8px;
}

.s2r-table-container {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 4px;
    border-top: 1px solid lightgray;
}

.s2r-table {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px;
    width: 100%;
}

.row {
    display: contents;
}

.cell {
    overflow: hidden;
    margin: 4px 0px;
}

.title-cell {
}

.age-cell {
    height: 16px;
}

.title {
}

.title-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.url-label {
    font-size: 8pt;
    font-weight: 600;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.compact-mode .url-label {
    display: none;
}

.age-label {
    display: block;
    text-align: right;
}

.remove-mode:hover .age-label , .restore-mode .age-label {
    display: none;
}

.restore-mode .age-label {
    text-decoration: line-through;
}

.remove-mode:hover .remove-btn {
    display: block;
}

.restore-mode .restore-btn {
    display: block;
}

.remove-btn , .restore-btn {
    display: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
